@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap');

// Reset de margens
p {
    margin: 0;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    flex: 1;
    background: #000000;
    font-family: 'Inconsolata', monospace;
}

.btn {
    border: none;
    padding: 0.5rem 1rem;
    
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-size: 1.125rem;
    color: white;
    
    border-radius: 0.25rem;
    background: #81add4;
    // background: #5bd5d7;
    transition: all ease-out 0.15s;

    &:disabled {
        color: rgba(255, 255, 255, 0.2);
        background: rgba(129, 173, 212, 0.2);
    }
}

.spinner {
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #5bd5d7;
    animation: spin 0.85s cubic-bezier(.43,.84,.61,.14) infinite;
    height: 1.75rem;
    width: 1.75rem;

    @keyframes spin {
        to {
            transform: rotate(1turn);
        }
    }
}

.control-panel {
    display: flex;
    justify-content: center;
    margin: 1rem;
    background: #000000;

    @media (min-width: 768px) {
        justify-content: flex-start;
    }

    .spinner {
        margin-left: 1rem;
    }
}

.terminal {
    $terminal-bg: #000000;
    flex: 1;
    color: #ffffff;
    padding: 1rem;
    background: $terminal-bg;

    .terminal__line {
        margin: -0.0625rem 0rem;
    }

    .terminal__text {
        $green: #5ea72a;
        $red: #d8322d;

        &--fg-green {
            color: $green;
        }
        
        &--fg-black-bg-green {
            font-weight: 500;
            color: $terminal-bg;
            background: $green;
        }
        
        &--fg-red {
            color: $red;
        }
        
        &--fg-black-bg-red {
            font-weight: 500;
            color: $terminal-bg;
            background: $red;
        }
    }
}